services:
  nuxt:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    env_file:
      - .env
    networks:
      - mariadb_network
networks:
  mariadb_network:
    external: true
