@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light,
    dark --prefersdark,
    cupcake --default;
}

body {
  font-family: 'Poppins';
}
html {
  scrollbar-gutter: auto !important;
}

.multiselect__content-wrapper {
  max-height: 50px; /* adjust height */
  overflow-y: auto;
}
